:root {
    --color-bg-dark: rgb(24, 149, 165);
    --color-bg-light: rgb(4, 152, 252);
}

.hidden{
    display: none;
}
  
.visuallyhidden{
    opacity: 0;
}

body{
    background: linear-gradient(
        to top right,
        var(--color-bg-dark),
        var(--color-bg-light)
    );
    color: #1b1b1b;
    height: 96vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#allWaterdiv{
    display: flex;
    margin-left: 49%;
    margin-right: 49%;
    justify-content: space-around;
    align-items: center;
}

#infodiv{
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 40px;
}

#infodiv h4{
    position: absolute;
}

#ownContainerdiv{
    transition: all 1s linear;
    margin: 0;
}

.closeOwnContainerMenuButton{
    margin: 0;
    margin-left: 85%;
    position: absolute;
}

.bg{
    animation:slide 12s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(24, 149, 165) 50%, rgb(4, 152, 252) 50%);
    bottom:0;
    left:-50%;
    opacity:.6;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2{
  animation-direction:alternate-reverse;
  animation-duration:19s;
  opacity: 0.7;
}

.bg3{
  animation-duration:17s;
  opacity: 0.5;

}


@keyframes slide{
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.bounce-4{
    animation-name: bounce-4;
    animation-duration: 1.4s;
    animation-iteration-count:1;
    transform-origin: bottom;
    animation-timing-function: ease;
}

@keyframes bounce-4{
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

#resetButtonsdiv{
    position: relative;
}

#maindiv{
    position: relative;
    text-align: center;

}

#maindiv button{
    height: 35px;
    width: 45px;
}

button{
    height: 35px;
    margin-top: 5px;
    background-color: #e27005;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}

button:hover{
    cursor: pointer;
    border: #bb5a00 solid 2px;
}

#resetButton{
    margin-top: 20px;
    height: 35px;
    width: 80px;
    background-color: #e24b05;
}

.revealtime{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}
.revealtime.delayed{
    transform: translateY(0px);
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    #allWaterdiv{
        margin-left: 47.5%;
        margin-right: 47.5%;
    }
  }